
### デバッグモード ##################################
# 新規にプログラムを設置する時などデバッグモードで検証をします。
# デバッグモードが有効の時は画面にエラーが出力されます。無効の場合はログファイルに出力されます。
# 本番環境に公開する時は、忘れずに false にしてデバッグモードを無効にしてください。
# デバッグモードが無効の場合もヘルスチェックは利用できます。

DEBUG=true

### サイト名 #######################################

SITE_TITLE='The Site Name'

### ドメイン #######################################

SITE_DOMAIN='example.com'

### 言語設定 #######################################

SITE_LANG='ja'

### 時刻設定 #######################################

TIME_ZONE='asia/tokyo'

DATE_FORMAT='Y/m/d (D) H:i:s'

### 管理者メールアドレス(TOの通知先) ###################

ADMIN_MAIL='your@example.com'

### 管理者へのCCの設定(任意) ##########################
# カンマ区切りで複数指定可

ADMIN_CC=''

### 管理者へのBCCの設定(任意) #########################
# カンマ区切りで複数指定可
# 次のSMTPで設定するメールアドレスを含めるのを推奨します。それは、
# 予期しない理由で相手にブロックされた場合にも自身に送信内容を残します。

ADMIN_BCC=''

### メールサーバーの情報 ##############################
# SMTP専用のメールアドレスを用意してください。
# 通常の使用は避けるべきです。

SMTP_HOST='smtp.example.jp'
SMTP_MAILADDRESS='your@example.com'
SMTP_USERNAME='your@example.com'
SMTP_PASSWORD='password'
SMTP_ENCRYPT='ssl'
SMTP_PORT='465'

### Mailerを選択 ####################################
# PHPMailer(default) or WordPress

MAILER_DRIVER='PHPMailer'

### DBを選択(任意) ###################################
# SQLite or MySQL or MariaDB or None

DB_DRIVER='SQLite'
DB_HOST='localhost'
DB_NAME='repository.sqlite'
DB_USER='test'
DB_PASSWORD='test'
DB_PREFIX='me_'
DB_CHARSET='utf8'
DB_COLLATE='utf8_general_ci'

### reCAPTCHA ######################################
# Google reCAPTCHAからキーを取得してください。

RECAPTCHA_SITEKEY=''

RECAPTCHA_SECRETKEY=''
