{% if Flash.getMessages() is not empty %}
  {% for level, messages in Flash.getMessages() %}
  <div class="alert alert-{{level}} alert-dismissible fade show py-2 ps-0 pe-4 rounded-0" role="alert">
    <div class="container text-sm-center" style="max-width: 720px">
      <p class="mb-0">{% for message in messages %}{{ message }}{% endfor %}</p>
      <button type="button" class="btn-close shadow-none pt-1 pe-0 pe-sm-2 opacity-75" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}

  <script>
  (function() {
    'use strict';
    const alertList = document.querySelectorAll('.alert');
    if ( alertList[0] ) alertList.forEach((element) => new bootstrap.Alert(element));
  })();
  </script>
{% endif %}
