
.index {
  min-height: 600px;
  height: 100%;

  :root[data-theme="light"] & {
    background: #fafafa;
  }
  :root[data-theme="dark"] & {
    background: #0a0a0a;
  }
}

.site-title,
.copyright {
  font-family: "Noto Serif JP";
  font-weight: 500;
}
.site-title {
  font-size: 1.75rem;
  font-weight: 500;
}